<!doctype html>
<html>

<head>
	<link rel="stylesheet" href="../static/css/upload.css">
</head>

<body style="background: url(./bg.jpg);">
	<div
		style="backdrop-filter: blur(5px); background: #1e1e1e5e; position: absolute; top: 0; left: 0; width: 100vw; height: 100vh; color: #ffffff; display: flex; align-items: center; justify-content: center; flex-direction: column;">
		<h1>KISHAN KNOW</h1>
		<h3>Select a file to upload</h3>
		<p>
			{% with messages = get_flashed_messages() %}
			{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>`
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		</p>
		{% if filename %}
		<div>
			<img src="{{ url_for('display_image', filename=filename) }}">
		</div>
		{% endif %}
		<form method="post" action="/" enctype="multipart/form-data">
			<dl>
				<p>
					<input type="file" name="file" autocomplete="off" required>
				</p>
			</dl>
			<p>
				<input type="submit" value="Submit">
			</p>

		</form>
	</div>
</body>

</html>

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Static Template</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="backdrop">
      <h1>
        KISHAN KNOW
      </h1>

	  <p>
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			<ul>
			{% for message in messages %}
			  <li>{{ message }}</li>`
			{% endfor %}
			</ul>
		  {% endif %}
		{% endwith %}
	</p>
	{% if filename %}
		<div>
			<img src="{{ url_for('display_image', filename=filename) }}">
		</div>
	{% endif %}
	<form method="post" action="/" enctype="multipart/form-data">
		<dl>
			<p>
				<input type="file" name="file" autocomplete="off" required>
			</p>
		</dl>
		<p>
			<input type="submit" value="Submit" class="button-submit"> <img src="./upload-file.svg" alt="" />
		</p>
	
	</form>

      <p>Select File To Upload</p>
      <input type="file" name="" id="" />
      <button class="button-submit">
        <img src="./upload-file.svg" alt="" />
        Submit
      </button>
    </div>
  </body>
</html> -->